@import url(/css/imports/variables.css);

*,
*::after,
*::before {
    box-sizing: border-box;
}

p {
    font-family: var(--paragraph-font-family);
    font-size: var(--paragraph-font-size)
}

h1 {
    font-family: var(--heading-font-family);
    font-size: var(--h1-size-desktop);
    font-weight: normal;
}

h2 {
    font-family: var(--heading-font-family);
    font-size: var(--h2-size);
    font-weight: normal;
}

h3 {
    font-family: var(--heading-font-family);
    font-size: var(--h3-size-size);
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
}

img {
    cursor: pointer;
}

/* Site logo */
.logo-icon {
    height: 60px;
    width: 60px;
}

/* Nav Bar */
.navbar {
    display: flex;
    align-items: center;
    box-shadow: var(--drop-shadow);
    width: 100%;

}



.nav-child {
    margin: 0 auto;
    padding-top: 3px;
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}


.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1px;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    font-family: var(--heading-font-family);
    font-size: var(--h3-size);
    color: black;
    padding: 16px;
    display: block;
}

.navbar-links .active {
    /* text-decoration: underline; */
    background-color: var(--light-green);
}

.navbar-links li a:hover {
    background-color: var(--light-green);

}

.toggle-menu {
    position: absolute;
    top: 1.8rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Hamburger menu  */
.menu-btn_burger {
    width: 100%;
    height: 3px;
    background: var(--darkest-green);
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--darkest-green);
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-9px);
}

.menu-btn_burger::after {
    transform: translateY(9px);
}

/* Hamburger-menu animation  */
.toggle-menu.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
}

.toggle-menu.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.toggle-menu.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* Featured Content */
.featured-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 30px auto 0 auto;
    background-color: var(--light-green);
}

.featured-content img {
    display: flex;
    width: 50%;
    height: 700px;
    object-fit: cover;
    margin: auto;
    padding: 40px 20px 40px 40px;
}

.featured-text {
    max-width: 50%;
    padding: 40px 40px 40px 20px;
}

.featured-text h1 {
    font-size: var(--h1-size-desktop);
    font-family: var(--heading-font-family);
    font-weight: var(--font-weight);
    text-align: left;
}

.featured-text p {
    margin: 30px 0;
}

/* Button */
.btn {
    background-color: var(--darker-green);
    border-radius: 2px;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    font-family: var(--heading-font-family);
    font-size: var(--h4-size);
    transition: 0.4s ease-in-out;
}

.btn:hover {
    background-color: var(--darkest-green)
}

.featured-content a.btn {
    display: flex;
    justify-content: center;
}

/* Latest Posts/Slider  */
.slider-title h2 {
    margin: 100px 0 50px 0;
    text-align: center;
}

.carousel_container {
    margin: 0px auto;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    width: 80%;
    max-width: 1200px;
    max-height: 540px;
    scroll-behavior: smooth;
    box-shadow: var(--drop-shadow);
}

.carousel_image {
    width: 100%;
    height: 415px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    object-position: center;
    scroll-snap-align: center;
}

.slides-container {
    height: calc(100vh - 2rem);
    width: 100%;
    list-style: none;
    overflow: scroll;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-snap-type: both mandatory;
    overflow-y: hidden;

}

.slides-container {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

/* WebKit */
.slides-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.slide_container-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 100%);
    grid-template-rows: 1fr;
}

.slide_container-wrapper a {
    text-decoration: none;
    color: black;
}


.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 65px;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 50px;
    padding: 0;
    opacity: 0.8;
    transition: 250ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    /* border-radius: 0 2rem 2rem 0; */
    color: black;
}

#slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    /* border-radius: 2rem 0 0 2rem; */
    color: black;
}

.is-hidden {
    display: none;
}

/* About Page */
.about-content {
    display: flex;
    max-width: 1200px;
    margin: 100px auto 0 auto;
    justify-content: center;
}

.about-image {
    display: flex;
    background-color: var(--light-green);
    margin-right: 10px;
}

.about-image img {
    display: flex;
    max-width: 400px;
    width: 100%;
    height: 700px;
    object-fit: cover;
    margin: auto;
    padding: 40px;
}

.text-content {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 40px;
    box-shadow: var(--drop-shadow);
}

.text-content h1,
h3,
.social-media-icons {
    text-align: center;
}

.social-media-icons a {
    text-decoration: none;
}


.social-media {
    margin: 5px;
    height: 40px;
}

/* Blog List Page */
.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 4rem;
    align-items: flex-start;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.blog-list-container {
    border-radius: .25rem;
    overflow: hidden;
    /* min-height: 460px;  */
}

.blog-list-container.card-shadow {
    border: none;
    box-shadow: var(--drop-shadow);
}

.post-link {
    text-decoration: none;
    color: black;
}

.posts-header {
    margin: 50px auto;
    text-align: center;
}

.card-header.card-image {
    padding: 0;
    overflow: hidden;
}

.card-header.card-image>img {
    display: block;
    width: 100%;
    max-height: 350px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
    transition: 200ms transform ease-in-out;
}

.blog-list-container>.card-header.card-image>img:hover,
.blog-list-container>.card-header.card-image>img:focus {
    transform: scale(1.040);
}

.card-body p,
h2 {
    text-align: left;
    margin: 10px 0 0 10px;
}

.card-body hr {
    background-color: var(--darkest-green);
    height: 1px;
    border: 0;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

/* Search input */
.search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-green);
    padding: 10px 0;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto 20px auto;
}

.search-wrapper input {
    max-width: 200px;
    font-size: 16px;
    font-family: var(--heading-font-family);
}

.search-wrapper label {
    font-family: var(--heading-font-family);
    font-size: var(--h3-size);
    margin: 0px;
}

.hide {
    display: none;
}

/* View more button */
#viewMoreBtn {
    display: flex;
    justify-content: center;
    max-width: 200px;
    width: 100%;
    margin: 50px auto;
    cursor: pointer;
}

.remove {
    display: none;
}


/* Blog-Post Specific */
.post-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    box-shadow: var(--drop-shadow);
}

.back-btn {
    margin-left: 10px;
    margin-top: 15px;
}

.back-btn a {
    color: black;
    font-family: var(--paragraph-font-family);
    text-decoration: none;
}

.post-header {
    overflow: hidden;
}

.post-header img {
    display: flex;
    max-width: 100%;
    transition: 200ms transform ease-in-out;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
}

.post-container>.post-header>img:hover,
.post-container>.post-header>img:focus {
    transform: scale(1.040);
}

.post-date {
    display: flex;
    justify-content: space-between;
}

.post-card hr {
    width: 100%;
    display: flex;
    color: var(--darkest-green)
}

.post-card {
    padding: 10px;
}

.post-content figure {
    margin: 0;
    display: flex;
    gap: 10px;
    padding-bottom: 5px;
}

.post-content figure img {
    display: flex;
    margin: 10px auto;
    height: 100%;
    max-width: 800px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
    transition: 200ms transform ease-in-out;
}

.post-content img:hover,
.post-content img:focus {
    transform: scale(1.030);
}

/* Popup Modal */
.modal-container-header,
.modal-container-gallery {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
}

.nav-modal-container {
    position: fixed;
    z-index: 9;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

/* .nav-bar-modal {
    width: 100%;
    height: 100%;
} */

.modal-img img,
.modal-container-gallery img {
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border: 1px solid white;
    width: 90%;
    max-width: 1200px;
}

.modal-img p {
    display: none;
}

/* Contact page */
.contact-page {
    width: 95%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 50px;
}

.contact-page h1 {
    text-align: center;
    margin-top: 50px;
}

button {
    background: var(--darker-green);
    border: none;
    color: white;
    padding: 15px 0;
    border-radius: 2px;
    cursor: pointer;
    font-size: var(--h4-size);
    font-family: var(--heading-font-family);
    margin-top: 30px;
}

form {
    margin-top: 80px;
    padding: 40px;
    box-shadow: var(--drop-shadow);
    font-family: var(--heading-font-family);
    font-size: var(--h4-size)
}

input {
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 2px;
    height: 40px;
}

form input[name=subject],
form input[name=fullName],
form input[name=email],
form textarea {
    resize: none;
    max-width: 100%;
    margin-top: 10px;
    border: 2px solid var(--darker-green)
}

.form-error {
    color: red;
    display: none;
    font-family: var(--paragraph-font-family);
    font-size: var(--paragraph-font-size)
}

#sendButton {
    width: 100%;
}

button:disabled {
    cursor: auto;
}

label {
    display: block;
    margin-top: 40px;

}

.error {
    border: 1px solid darkred;
    padding: 1rem;
    color: darkred;
    background: rgba(255, 0, 0, 0.1);
}

.message {
    font-size: var(--h3-size);
    font-style: italic;
    color: green;
    text-align: center;
}

/* Footer section */
.footer-nav {
    height: 200px;
    max-width: 100%;
    background: var(--light-green);
    margin: 75px 0;
    text-align: center;
    display: block;
}

.footer-nav .social-media-icons {
    padding-top: 65px;
}


.footer-copyright p {
    text-align: center;
}

@media (max-width: 800px) {
    .about-content {
        flex-direction: column;
        margin: 30px auto 0 auto;
    }

    .text-content {
        max-width: 100%;
    }

    .text-content h1 {
        margin: 0;
    }

    .about-image {
        margin: 0;
    }

    .modal-img img,
    .modal-container-gallery img {
        width: 99%;
    }

    .carousel_container {
        width: 90%;
    }

}

@media (max-width: 750px) {
    .featured-content {
        flex-direction: column;
    }

    .featured-content img {
        width: 100%;
        padding: 0;
        height: 450px;
    }

    .featured-text {
        padding: 20px;
    }

    .featured-text {
        max-width: 100%;
    }

    .featured-text h1 {
        margin: 0;
        text-align: center;
    }

}

@media (max-width: 600px) {

    .nav-child {
        width: 100%;
    }

    .toggle-menu {
        display: flex;
    }

    .navbar-links {
        z-index: 10;
        display: none;
        background: var(--darker-green);
        position: absolute;
        margin-top: 64px;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        margin: 0 auto;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a:hover {
        background-color: var(--light-green);
        color: black;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
        color: white;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links .active {
        font-weight: bold;
        font-size: 28px;
        background-color: var(--darker-green);
    }


    /* featured content */

    .featured-content img {
        padding: 0;
        height: 450px;
    }

    .post-content figure {
        flex-direction: column;
    }

    .post-content figure img {
        margin: 0;
    }

    .carousel_container {
        width: 95%;
    }
}

@media (max-width: 450px) {
    .posts-container {
        margin: 0 auto;
        width: 98%;
        display: flex;
        flex-direction: column
    }

    .blog-list-container {
        border-radius: 0;
        height: 350px;
    }
}

/* Loading */
.error {
    border: 1px solid darkred;
    padding: 1rem;
    color: darkred;
    background: rgba(255, 0, 0, 0.1);
}

message {
    font-family: var(--heading-font-family);
    color: green;
    text-align: center;
}

.loader {
    border: 16px solid white;
    border-top: 16px solid darkgrey;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}