@import url(/css/imports/variables.css);

*,
*::after,
*::before {
    box-sizing: border-box;
}

p {
    font-family: var(--paragraph-font-family);
    font-size: var(--paragraph-font-size)
}

h1 {
    font-family: var(--heading-font-family);
    font-size: var(--h1-size-desktop);
    font-weight: normal;
}

h2 {
    font-family: var(--heading-font-family);
    font-size: var(--h2-size);
    font-weight: normal;
}

h3 {
    font-family: var(--heading-font-family);
    font-size: var(--h3-size-size);
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
}

/* Site logo */
.logo-icon {
    height: 60px;
    width: 60px;
}

/* Nav Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--drop-shadow);
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    font-family: var(--heading-font-family);
    font-size: var(--h3-size);
    color: black;
    padding: 1rem;
    display: block;
}

.navbar-links .active {
    text-decoration: underline;
}

.toggle-menu {
    position: absolute;
    top: 1.8rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Hamburger menu  */

.menu-btn_burger {
    width: 100%;
    height: 3px;
    background: var(--darkest-green);
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--darkest-green);
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-9px);
}

.menu-btn_burger::after {
    transform: translateY(9px);
}

/* Hamburger-menu animation  */
.toggle-menu.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
}

.toggle-menu.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.toggle-menu.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* Featured Content */


.featured-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 30px auto 0 auto;
    background-color: var(--light-green);
}

.featured-content img {
    display: flex;
    width: 50%;
    height: 700px;
    object-fit: cover;
    margin: auto;
    padding: 40px 20px 40px 40px;
}

.featured-text {
    max-width: 50%;
    padding: 40px 40px 40px 20px;
}

.featured-text h1 {
    font-size: var(--h1-size-desktop);
    font-family: var(--heading-font-family);
    font-weight: var(--font-weight);
    text-align: left;
}

.featured-text p {
    margin: 30px 0;
}

/* Button */
.btn {
    background-color: var(--darker-green);
    border-radius: 2px;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    font-family: var(--heading-font-family);
    font-size: var(--h4-size);
    transition: 0.4s ease-in-out;
}

.btn:hover {
    background-color: var(--darkest-green)
}

.featured-content a.btn {
    display: flex;
    justify-content: center;
}

/* Latest Posts/Slider  */
.slider-title {
    text-align: center;
}

.slider-button {
    font-size: 60px;
    color: var(--darkest-green);
}

.carousel-container {}

.carousel {
    display: flex;
}



/* About Page */
.about-content {
    display: flex;
    max-width: 1200px;
    margin: 30px auto 0 auto;
    justify-content: center;
}

.about-image {
    display: flex;
    background-color: var(--light-green);
    margin-right: 10px;
}

.about-image img {
    display: flex;
    max-width: 400px;
    width: 100%;
    height: 700px;
    object-fit: cover;
    margin: auto;
    padding: 40px;
}

.text-content {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 40px;
    box-shadow: var(--drop-shadow);
}

.text-content h1,
h3,
.social-media-icons {
    text-align: center;
}

.social-media-icons a {
    text-decoration: none;
}


.social-media {
    margin: 5px;
}

/* Blog List Page */
.post-container {
    margin: 0 auto;
}

.card-header {
    display: flex;
}

.card-header img {
    max-width: 100%;
    width: 500px;
    margin: 0 auto;
}

.posts-header {
    text-align: center;
}

@media (max-width: 800px) {
    .about-content {
        flex-direction: column;
    }

    .text-content {
        max-width: 100%;
    }

    .text-content h1 {
        margin: 0;
    }

    .about-image {
        margin: 0;
    }


}

@media (max-width: 750px) {
    .featured-content {
        flex-direction: column;

    }

    .featured-content img {
        width: 100%;
        padding: 20px;
    }

    .featured-text {
        padding: 20px;
    }

    .featured-text {
        max-width: 100%;
    }

    .featured-text h1 {
        margin: 0;
        text-align: center;
    }

}

@media (max-width: 600px) {

    .toggle-menu {
        display: flex;
    }

    .navbar-links {
        display: none;
        background: var(--darker-green);
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li:hover {
        background-color: var(--light-green);
    }

    .navbar-links li a {
        padding: .5rem 1rem;
        color: white;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links li a:hover {
        color: black;
    }

    /* featured content */

    .featured-content img {
        padding: 0;
        height: 450px;
    }


}

/* Loading */
.error {
    border: 1px solid darkred;
    padding: 1rem;
    color: darkred;
    background: rgba(255, 0, 0, 0.1);
}

message {
    font-family: var(--heading-font-family);
    color: green;
    text-align: center;
}

.loader {
    border: 16px solid white;
    border-top: 16px solid darkgrey;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}